.scheduleContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	max-width: 100%;
	gap: 4px;
}

.dayColumn {
	display: flex;
	flex-direction: column;
	gap: 4px;
	border: 0.5px solid #b4b4b4;
	min-height: 95vh;
	width: 15%;
}

.dateContainer {
	border: 1px solid #b4b4b4;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cardsContainer {}

.navButtonsContainer {
	display: flex;
	flex-direction: row;
	margin: 0 60px 8px 60px;

	max-width: 100%;
	align-items: center;
	justify-content: end;

}